# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# Streamlit files
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# pyenv / pipenv / poetry artifacts
*.lock

# Untracked Local
alpha_tracker.py
twelve_data_tracker.py